node_modules/
dist/
.env
.databrickscfg
__pycache__/
*.pyc
.DS_Store
venv/

customers-backup.json
dist1-config.json
dist1-disabled.json
dist2-config.json
dist2-disabled.json

pipeline-def.json
pipeline-def-qa.json
pipeline-permissions.json
trust-policy.json
